.App {
  max-width: 700px;
  margin: 0 auto;
}

.App-header {
  margin: 50px 0;
  font-family: "Lilita One", cursive;
  text-align: center;
  font-size: 55px;
  color: #312f44;
}

.App-img {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
  font-size: 14px;
  color: #312f44;
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: bold;
}

.App a {
  color: #312f44;
  text-decoration: none;
}

.App a:hover {
  color: #5b5780;
}

@media (max-width: 640px) {
  .App {
    max-width: 300px;
    display: block;
    margin: 0 auto;
  }
  .App-header {
    margin: 40px 0;
    text-align: center;
    font-size: 40px;
    color: #312f44;
  }

  .App-img {
    max-width: 200px;
    display: block;
    margin: 0 auto;
  }
}
