.Meaning h3 {
  font-size: 33px;
  line-height: 1.5;
  font-weight: bold;
  font-family: "Nanum Gothic Coding", monospace;
}

.Meaning .example {
  opacity: 0.8;
  font-style: italic;
  margin-top: 10px;
  font-family: "Nanum Gothic Coding", monospace;
  font-size: 16px;
}
