.Meaning h3 {
  font-size: 33px;
  line-height: 1.5;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.Meaning .definition {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
.Meaning .example {
  opacity: 0.8;
  font-style: italic;
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

@media (max-widht: 640px) {
  .Meaning h3 {
    font-size: 25px;
    line-height: 1.5;
  }
  .Meaning .definition {
    font-size: 13px;
  }
  .Meaning .example {
    font-size: 13px;
  }
}
